.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container .models {
  display: flex;
  justify-content: space-evenly;
}

.container .models .model {
  position: relative;
  margin-top: 50px;
  height: 300px;
  width: 200px;
}

.container .models .model .img_model {
  height: 100%;
}

.container .models .model .glass_model {
  position: absolute;
  width: 145px;
  height: 40px;
  top: 80px;
  left: 25%;
  opacity: 0.65;
}

.container .models .model .glass_model img {
  width: 100%;
  height: 100%;
}

.container .glass_list {
  margin-top: 70px;
  background-color: white;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container .glass_list .glass {
  height: 80px;
  width: 150px;
  border: 1px solid black;
}

.container .glass_list .glass img {
  height: 100%;
  width: 100%;
}
